<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>addDoctor</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/home">Angel Clinics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-white ">
        <li class="nav-item">
          <a class="nav-link active text-white " aria-current="page" href="/user/login">login user</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-white " href="/user/register">register user </a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link text-white " href="/doctor/login">login doctor</a>
        </li>

      </ul>
    </div>
    <div>
      <a class="nav-link text-white " href="/home" style="display: inline-block;">Sign Out</a>
    </div>
  </div>

</nav>

<div class="container my-5 p-5 " style="border:1px solid black;">
  <form class="col-md-4 offset-md-4">
    <h4 class="text-center"> New Doctor Register</h4>
    <div class="mb-3">
      <label for="name" class="form-label">Full Name </label>
      <input type="text" class="form-control" id="name" name="username" >
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phone" name = "phoneNumber">
    </div>

    <div class="mb-3">
      <label for="email1" class="form-label">Email</label>
      <input type="text" class="form-control" id="email1" name="email">
    </div>

    <div class="mb-3">
      <label for="Specialization" class="form-label">Specialization</label>
      <input type="text" class="form-control" id="Specialization" name="specialization">
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">location</label>
      <input type="text" class="form-control" id="location" name="location">
    </div>

    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password">
    </div>

    <div style="text-align: center;"><button type="submit" class="btn btn-primary">Submit</button></div>
  </form>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>